# **Introducción a Python para Análisis de Datos**
## Capítulo 3: Manipulación de Datos - Soluciones a Ejercicios
---
Acerca de este notebook
* **Autor:** Juan Martin Bellido
* **Descripción:** *este notebook incluye las soluciones a los ejercicios del capítulo 3*
* **¿Feedback? ¿comentarios?** Por favor compártelo conmigo escribiéndome por [LinkedIn](https://www.linkedin.com/in/jmartinbellido/)

# Capítulo 3: Ejercicios
---

### Ejercicio #1

##### 1.A Calcular suma total de facturación (revenue), según sector
##### 1.B Repetir el ejercicio anterior, pero filtrando únicamente por sectores *Technology, Energy y Retailing*

> Dataset https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv

In [ ]:
# importamos librería y df
import pandas as pd
df_fortune = pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv")
df_fortune.dtypes

Rank          int64
Company      object
Sector       object
Industry     object
Location     object
Revenue       int64
Profits       int64
Employees     int64
dtype: object

In [ ]:
# EX 1.A
df_fortune.groupby("Sector").agg(
    {"Revenue":"sum"}
).sort_values("Revenue",ascending=False)

                              Revenue
Sector
Financials                    2217159
Health Care                   1614707
Energy                        1517809
Retailing                     1465076
Technology                    1377600
Food, Beverages & Tobacco      555967
Industrials                    497581
Food and Drug Stores           483769
Motor Vehicles & Parts         482540
Telecommunications             461834
Wholesalers                    444800
Transportation                 408508
Aerospace & Defense            357940
Business Services              272195
Materials                      259145
Chemicals                      243897
Household Products             234737
Media                          220764
Hotels, Resturants & Leisure   169546
Engineering & Construction     153983
Apparel                         95968

In [ ]:
# EX 1.B
cond = df_fortune["Sector"].isin(["Technology","Energy","Retailing"])

df_fortune[cond].groupby("Sector").agg(
    {"Revenue":"sum"}
).sort_values("Revenue",ascending=False)

            Revenue
Sector
Energy      1517809
Retailing   1465076
Technology  1377600

### Ejercicio #2


##### Extrear el top 5 planetas (homeworlds) con mayor número de personajes incluídos en el dataset.

> Dataset https://data-wizards.s3.amazonaws.com/datasets/starwarsdb_people.csv

In [ ]:
# importamos librería y df
import pandas as pd
df_starwars_people = pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/starwarsdb_people.csv")
df_starwars_people.dtypes

name           object
height        float64
mass          float64
hair_color     object
skin_color     object
eye_color      object
birth_year    float64
gender         object
homeworld      object
species        object
sex            object
dtype: object

In [ ]:
df_starwars_people.groupby('homeworld').agg({
  "name":"nunique"   
}).rename(
    {"name":"count_characteres"}
    ,axis='columns'
).sort_values('count_characteres',ascending=False)\
.iloc[:5,]

           count_characteres
homeworld
Naboo                     11
Tatooine                  10
Alderaan                   3
Kamino                     3
Coruscant                  3

### Ejercicio #3

##### Agregar las siguiente métricas según continente,

*   *Población total*
*   *PIB per cápita medio*
*   *media de % población viviendo por debajo de la línea de la pobreza*

> Dataset https://data-wizards.s3.amazonaws.com/datasets/dataset_na_who.csv

In [1]:
# importamos librería y df
import pandas as pd
df_who = pd.read_csv('https://data-wizards.s3.amazonaws.com/datasets/dataset_na_who.csv')
df_who.dtypes

Country                                                    object
CountryID                                                   int64
ContinentID                                                 int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
Population annual growth rate (%)                         float64
Population in urban areas (%)                             float64
Population living below the poverty line                  float64
Continent                                                  object
dtype: object

In [5]:
output = df_who.groupby('Continent')\
  .agg({
      'Population (in thousands) total':'sum'
      ,'Gross national income per capita (PPP international $)':'mean'
      ,'Population living below the poverty line':'mean'
  })\
  .rename(columns={
      'Population (in thousands) total':'population',
      'Gross national income per capita (PPP international $)':'avg_GDP',
      'Population living below the poverty line':'avg_pop_below_pov_line'
  })

output['population'] = output.population.round(0)
output['avg_GDP'] = output.avg_GDP.round(2)
output['avg_pop_below_pov_line'] = output.avg_pop_below_pov_line.round(2)

output

               population   avg_GDP  avg_pop_below_pov_line
Continent
Africa           759147.0   3127.95                   35.84
Asia            2859153.0   2865.56                   28.31
Europe           880241.0  19777.08                    2.59
Middle East      336867.0  14893.53                    2.37
North America    441464.0  24524.00                    3.00
Oceania          714480.0  11716.25                   12.42
South America    453480.0   7397.14                   14.04

### Ejercicio #4

La tabla de datos a importar contiene valores de cotización diarios para el Bitcoin. Agregar DataFrame para calcular media mensual de valor de cotización de apertura.  

> Dataset https://data-wizards.s3.amazonaws.com/datasets/dataset_bitcoin.csv

In [ ]:
# importamos librería y df
import pandas as pd
df_btc = pd.read_csv('https://data-wizards.s3.amazonaws.com/datasets/dataset_bitcoin.csv')
df_btc.dtypes

date           object
Open          float64
High          float64
Low           float64
Close         float64
volume_BTC    float64
volume_usd    float64
dtype: object

In [ ]:
# forzamos variable date a formato fecha
df_btc['date'] = pd.to_datetime(df_btc.date)
df_btc.dtypes

date          datetime64[ns]
Open                 float64
High                 float64
Low                  float64
Close                float64
volume_BTC           float64
volume_usd           float64
dtype: object

In [ ]:
# calculamos campos de fecha
df_btc['month'] = df_btc.date.dt.month
df_btc['year'] = df_btc.date.dt.year

In [ ]:
# agregamos data, agrupando según campos de fecha calculados
df = df_btc.groupby(['year','month']).agg({'Open':'mean'}).rename(columns={'Open':'avg_open'})
df

                avg_open
year month
2017 1        910.993226
     2       1056.590714
     3       1130.477419
     4       1203.115333
     5       1844.232258
     6       2613.179000
     7       2496.058065
     8       3803.843548
     9       4100.085000
     10      5276.062903
     11      7650.920333
     12     14864.823871
2018 1      13053.066129
     2       9387.473929
     3       9289.162143

In [ ]:
# redondeamos decimales
df['avg_open'] = df['avg_open'].round(2)
df

            avg_open
year month
2017 1        910.99
     2       1056.59
     3       1130.48
     4       1203.12
     5       1844.23
     6       2613.18
     7       2496.06
     8       3803.84
     9       4100.08
     10      5276.06
     11      7650.92
     12     14864.82
2018 1      13053.07
     2       9387.47
     3       9289.16